<h1>Search</h1>

<div class='row'>

  <div class="col-md-3">

<%=render :partial => "facets"%>
  <table class="resume_list">
    <thead>
      <tr>
        <th>Name</th>
        <th>Telephone Number</th>
        <th>Email</th>
        <th>Country</th>
        <th>Executive Summary</th>
        <th>Employer History</th>
      </tr>
    </thead>

    <tbody>
      <% @resumes.each do |resume| %>
        <tr>
          <td><%= resume.name %></td>
          <td><%= resume.telephone %></td>
          <td><%= resume.email %></td>
          <td><%= resume.country %></td>
          <td>
            <div class="div_show_link_<%= resume.id %>">
              <button href="#" class="show_summary" data-attr="<%= resume.id %>">Show Summary</button>
            </div>
            <div class="div_summary_<%= resume.id %>" style="display: none;">
              <% unless resume.note.nil? %>
                <% unless resume.note.summary.nil?  %>
                  <p><%= resume.note.summary.gsub(/;/, "<br>").html_safe %></p>
                <% else %>
                  N/A
                <% end %>
              <% else %>
                  N/A
              <% end %>
                <button href="#" class="hide_summary" data-attr="<%= resume.id %>">Hide Summary</button>
            </div>
          </td>
          <td><%= link_to 'Show', resume_employer_histories_path(resume.id) %></td>
        </tr>
      <% end %>

  <br>
  
  <%= will_paginate @resumes %>
</div>

  <div class="col-md-9">

    <%# results %>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <% @search.klass.attribute_names.each do |field| %>
            <th>
              <%= field %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @search.results.each do |result| %>
          <tr>
            <% @search.klass.attribute_names.each do |field| %>
              <td>
                <%= result._source[field] if result._source.respond_to?(field) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>
